################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Api/Properties
/src/Client/bin/Debug/net5.0
/src/Client/obj
/src/Client/Properties
/src/Shared/bin/Debug/net5.0
/src/Shared/obj
/src/Shared/bin/Debug/netstandard2.1
