@page "/"

@attribute [Authorize]

<div>Hello @Message!</div>

@code{
    [CascadingParameter] Task<AuthenticationState> StateTask { get; set; }


    string Message;

    protected override async Task OnParametersSetAsync()
    {
        var task = await StateTask;

        Message = task.User.Identity.Name;
    }
}